<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show <%= product.name %></title>
</head>
<body>
    <h1><%= product.name  %></h1>
    <p>Price: <%= product.price %></p>
    <p>Category: <a href="/products?category=<%= product.category %>"><%= product.category %></a></p>

    <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <p><a href="/products">Back</a></p>
</body>
</html>